[submodule "themes/hugo-theme-monochrome"]
	path = themes/hugo-theme-monochrome
	url = https://github.com/kaiiiz/hugo-theme-monochrome.git
[submodule "themes/hugo-cite"]
	path = themes/hugo-cite
	url = https://github.com/loup-brun/hugo-cite.git
